html, body, .container-fluid, #container-row {
    height: 100%;
    margin: 0px;
    background-color: #0A3D62;
    font-family: "Montserrat", sans-serif;
    padding: 0px;
}

h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 4vw;
    padding-top: 3%;
    padding-bottom: 3%;
}

#backBtn {
    text-decoration: none;
    color: white;
}

#backBtn:hover {
    opacity: 75%;
}

.jumbotron {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.btn {
    border: 1px solid lightgrey;
    margin-bottom: 5px;
}

.btn:hover {
    opacity: 80%
}

#detailsCol {
    padding: 25px;
}

#descCol {
    border-left: 1px solid lightgrey;
}

#map {
    height: 100%;
    width: 100%;
}

.col-md-8 {
    padding-bottom: 10px;
    box-shadow: inset -5px 0px 10px;
}

.col-md-4 {
    height: 100%;
    padding: 0px;
}
