html{
    height: 100%;
}
body{
    font-family: Montserrat, sans-serif;
    background-color: #0A3D62;
    padding: 0;
    height: inherit;
    margin: 0;

}
.action-btn-active {
    background-color: #D5D5D5;
    box-shadow: 4px 4px 4px #B6B6B6;
}
.action-btn-inactive {
    background-color: #F3F3F3;
    box-shadow: 4px 4px 4px #B6B6B6;
}
bi:before {
    left: 0;
    position: absolute;
    top: -4px;
}
#title-header{
    color: #FFFFFF;
}
#wrackReport{
    font-weight: 700;
}
#admin{
    font-weight: 50;
}

#latest-report-text {
    margin-bottom: 0;
}

#contents{
    box-sizing: border-box;
    color: dimgrey;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 2vh;
}
#button-line{
    height: 50px;
    color: white;
    vertical-align: middle;
    margin-bottom: 2vh;
}

#unreviewed-check{
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}
#unreviewed-check-text{
    font-size: 1vw;
}
#export-data{
    background-color: #F3F3F3;
    border-radius: 2px;
    border: 0;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #5f5f5f;
    padding: 10px 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
#report-query{
    background-color: #487EB0;
    border-radius: 2px;
    border: 0;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 10px 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}
#shown-reports{
    background-color: #FFFFFF;
    border-radius: 5px;
    height: calc(100% - 50px);

}

#reports-table{
    padding-left: 10px;
    padding-right: 10px;
    border-spacing: 0px;
    width: 100%;
}

th, td{
    text-align: left;
    padding-top: 3vh !important;
    padding-bottom: 3vh !important;
    border: 0px;
    margin: 0px;
}
tr:nth-child(even) {
    background-color: #f1f1f1;
}

/*#shown-reports::-webkit-scrollbar {*/
/*    width: 0.5rem;*/
/*}*/

/*Modal CSS*/
#submitQuery {
    background-color: #487EB0;
    border-radius: 2px;
    border: 0;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
    padding: 10px 15px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.modal-content {
    background-color: #0A3D61;
    color: #FFFFFF;
}

#showRemoved {
    height: 2em;
    width: 2em;
}

#dateFrom {
    margin-right: 2%;
}

#dateTo {
    margin-left: 2%;
}