/*Remove arrows from number field*/
/*taken from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/*End of reference*/

/*report-form css*/

html{
    overflow: hidden;
    height: 100%;
}

body{
    background-color: #0A3D55;
    height: 100%;
    overflow: auto;
    /*overflow: hidden !important;*/
}

.sidebar{
    width: 40%;
    /*overflow-y: scroll;*/
    height: 100%;
    float: left;


}
.form-control::placeholder{
    font-size: 1.25vw;
}
.sidebar-content{
    background-color: #0A3D62;
    font-family: Montserrat,sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0px;
    padding-bottom: 2.5%;
    box-shadow: inset -5px 0px 10px;
    height: 100%;
    overflow: auto;

}
.sidebar-content::-webkit-scrollbar {
    width: 0.5rem;
}

.sidebar h1{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 4.5vw;
    padding-top: 5%;
    padding-bottom: 5%;
}
#agree-text{
    font-size: 1vw;
    color: white;
}
#agree-text a{
    text-decoration: none;
}

.form-label,p{
    color: white;
    font-size: 1.5vw;
}

#description{
    height: 200px;
    margin-top: 10px;
    resize: none;
}
/*#temp-map{*/
/*    margin-left: 40%;*/
/*    float: right;*/
/*}*/

#map-contents{
    overflow: hidden;
}

#temp-map{
    position: fixed;
    height: 100%;
    width: 60%;
}

#footer ul{
    padding-left: 0;
    text-align: center;
}

#footer li{
    display: inline;
    text-decoration: none;
    color: #818181;
    font-family: Montserrat, sans-serif;
    font-size: 1vw;
    padding-left: 0;
    transition: 0.3s;
}
#footer a:link, #footer a{
    color: #818181;
    text-decoration: none;
    transition: 0.3s;

}
#footer a:hover{
    cursor: pointer;
    color: white;

}
#footer li:hover{
    cursor: pointer;
    color: white;

}
.alert-warning{
    color: white;
    background-color: crimson;
    border-color: darkred;
}

/*Report-Submitted-CSS*/

#report-submitted-body{
    background-color: #0A3D62;
    font-family: Montserrat,sans-serif;
    color: #FFFFFF;
}

#report-submitted-contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#report-submitted-body a{
    font-weight: bold;
    color: #FFFFFF;
    transition: 0.3s;
}
#report-submitted-body a:hover{
    font-weight: bold;
    color: #818181;
    transition: 0.3s;
}
#fileUpload-text{
    color: white;
    font-size: 1vw;
}

#map {
    height: 100%;
    width: 60%;
}

/*Privacy Policy CSS*/
.privacy-heading {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 4.5vw;
    padding-top: 2%;
    padding-bottom: 2%;
}

.privacy-content h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.privacy-content {
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
}
