<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/overview.css">
    <title>Reports Overview</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <h1>
        <span id="wrackReport">WrackReport</span>
        <span id="admin">Admin</span>
    </h1>
    <div id="contents">
        <div id="button-line">
            <p class="contents-top-bar" id="latest-report-text">Latest Reports</p>
            <input class="contents-top-bar" id="unreviewed-check" type="checkbox" checked>
            <p class="contents-top-bar" id="unreviewed-check-text">Only Show\n Unreviewed Reports</p>
            <button class="contents-top-bar" id="export-data">Export Data</button>
            <button class="contents-top-bar" id="report-query">Report Query</button>
        </div>
        <div id="shown-reports">
            <table id="reports-table">
                <tr id="table-header">
                    <th>Date</th>
                    <th>Time</th>
                    <th>Category</th>
                    <th>Depth</th>
                    <th>Location</th>
                    <th>Local Authority</th>
                    <th>butt</th>
                </tr>
                <tr id="table-contents">
                    <td>10/10/2021</td>
                    <td>12:49</td>
                    <td>Debris</td>
                    <td>5m</td>
                    <td>CF14 3BZ</td>
                    <td>Cardiff</td>
                    <td>butt</td>
                </tr>
            </table>
        </div>
    </div>



</body>
</html>